<main class="pt-28 max-w-7xl mx-auto px-4">
  <h1 class="text-3xl font-bold">Product Show Page</h1>

  <div class="min-h-screen flex justify-center">
    <div class="flex flex-wrap flex-col mt-6">
      <h2 class="text-lg text-gray-800">Filter</h2>
    </div>