<main class="pt-28 max-w-7xl mx-auto px-4">
  <h1 class="text-3xl font-bold">Product Show Page</h1>
  <div class="flex justify-center gap-20 py-10">
    <div class="flex flex-wrap max-w-lg">
      <% @product.images.each do |image| %>
        <%= image_tag image, class: "w-auto h-64" %>
        <% end %>
    </div>
  </div>
</main>